<div class="my-5 mx-5">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Data</th>
        <th>Numero</th>
        <th>Anno</th>
        <th class="row">Stato Fattura
          <select class="form-control form-control-sm w-50 mx-3" [(ngModel)]="filtro" (click)="statoFattura()">
            <option></option>
            <option value="PAGATA">PAGATA</option>
            <option value="NON PAGATA">NON PAGATA</option>
          </select>
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fatture; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.data}}</td>
        <td>{{item.numero}}</td>
        <td>{{item.anno}}</td>
        <td>{{item.stato.nome}}</td>
        <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-info-square-fill"
              (click)="dettaglioFattura(item)"></i></button></td>
        <td><button type="button" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"
              (click)="modificaFattura(item)"></i></button></td>
        <td><button type="button" class="btn btn-outline-danger btn-sm"><i class="bi bi-x-circle-fill"
              (click)="eliminaFattura(item)"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>