#logo {
    background-image: url('src/assets/img/sfondo.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

i {
    color: #0066CC;
    background-color: rgba(255, 255, 255, 0.822);
    padding: 5px;
    font-size: 30px;
}

input {
    font-size: 30px;
}

button {
    font-size: 25px;
}

p {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.315);
    padding: 5px;
}

::placeholder {
    font-size: 20px;
}
